.left-menu {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    padding: 45px;
    background: rgba(207, 193, 175, 0.05);
    /*max-width: 288px;*/
    height: 100vh;
    position: relative;
}
.left-menu ul {
    margin-top: 82px;
    padding: 0px;
}

.left-menu ul li {
    list-style: none;
    white-space: nowrap;
    margin-bottom: 38px;
}

.left-menu ul li a {
    display: flex;
    align-items: center;
    color: #B8B8B8;
}

.left-menu ul li a span{
    margin-right: 10px;
}

.left-menu ul li a:hover {
    color: #000000;
}

.left-menu-logo {
    margin-left: 30px;
}
.left-menu .bottom-button {
    position: absolute;
    bottom: 96px;
}
.task-card {
    background: #FFFFFF;
    border: 0.5px solid #888888;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 30px;
}
.right-board {
    padding: 48px 65px;
    width: 100%;
}
.task-card button {
    width: 165px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}
.right-board-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 48px;
    display: grid;
}
.task-card ul li {
    list-style: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.task-card ul li span {
    color: rgba(0, 0, 0, 0.6);
    margin-right: 7px;
}

.task-card p {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.6);
}
.task-card ul{
    padding-left: 0px;
}

.user-block {
    font-family: 'Montserrat';
    font-style: normal;
    line-height: 22px;
    display: flex;
    margin-left: auto;
    align-items: center;
}
.task-card button {
    line-height: 34px;
}
.user-block .name-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 18px;
}

.user-block .name-wrap .user-name {
    font-weight: 600;
    font-size: 18px;
}
.user-block .name-wrap .user-status {
    font-size: 18px;
    line-height: 22px;
    color: #6D6C6C;
}
.btn-curs {
    font-style: normal;
    font-weight: 500!important;
    font-size: 20px;
    line-height: 48px;
    padding-left: 31px;
    padding-right: 31px;
    text-align: center;
}

.search-input {
    position: relative;
}

.search-input img {
    position: absolute;
    bottom: -5px;
    right: 7px;
    top: 6px;
    width: 48px;
}
.search-input img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.expand-arrow {
    margin-left: 10px;
    font-size: 36px!important;
}

.expand-arrow:hover {
    cursor: pointer;
    opacity: .6;
}

.customer-profile-change-photo {
    display: flex;
    align-items: center;
}

.customer-profile-change-photo img{
    width: 120px;
    margin-right: 24px;
}

.customer-profile-change-photo form label div{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;

    text-decoration-line: underline;

    color: #000000;
}

.customer-profile-desc {
    margin-top: 200px;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
}

.customer-profile-desc span{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #888888;
}
